<div *ngIf="loading==true" class="loading-div">

    <p-progressSpinner class="loader-div"></p-progressSpinner>
    </div>

<nav class="padding-header ">
    <div class="container">

        <ol class="breadcrumb  ml-md-0">
            <li class="breadcrumb-item "><a class="primary-color" href="/">الرئيسية</a></li>
            <li class="breadcrumb-item active">الأنشطة </li>
        
        </ol>
    </div>

</nav>

<div  class="container pt-cutome">

    <div class="row text-center pt-2">

        <div *ngFor="let item of progs" class="col-xl-6  col-12 mb-3 mb-xl-0 pb-sm-0 pb-3 px-3 mb-xl-5">
            <div class="card card-shadow pt-2 pb-3 pr-3 pl-3 radius-effect shadow-effect  px-2">
                <div class="custom-card-header d-flex justify-content-between">
                    <div style=" width: -webkit-fill-available;">
                        <h4 class="card-title"> {{item.name}} </h4>
                    </div>

                 
                </div>
                <div class="mt-2 project-item-details">
                    <div class="replaced-link">
                        <div class="project-img">
                            <img class="h-100 w-100 radius-effect img-news"
                                [src]="item?.main_image?.link">
                            <div class="rangeslider1 w-100" id="js-rangeslider-0">
                                <div class="rangeslider-fill-lower">

                                </div>
                            </div>
                        </div>
                    </div>



                </div>



            </div>
        </div>

    </div>
</div>

<footer style="    background: linear-gradient(
    90deg, #2d7798 0%, #28a58a 59%, #28a58a 100%); ">
    <section class="pt-3 text-light">
        <div class="container">
            <div class="d-flex align-items-center justify-content-between screenxl" role="contentinfo">
                <span style="font-weight: 600;" class="h5 ">جميع الحقوق محفوظة لمنصة رحماء 2022</span>




                <div class="align-items-center d-flex d-md-flex flex-column flex-md-row-reverse pt-1 ">
                    <a style="margin-right: 1rem;" class=" h5    text-light" aria-current="page"
                        href="https://www.facebook.com/%D8%B1%D8%AD%D9%85%D8%A7%D8%A1-ruhama--1611552422412668/"> <i
                            class="fab fa-facebook "></i></a>
                    <a style="margin-right: 1rem;" class=" h5    text-light" aria-current="page" href="#"> <i
                            class="fab fa-instagram "></i></a>
                    <a style="margin-right: 1rem;" class=" h5   text-light" aria-current="page"
                        href="https://api.whatsapp.com/send?phone=972567392862"> <i class="fab fa-whatsapp  "></i></a>
                    <a style="margin-right: 1rem;" href="https://twitter.com/ruhmaalkher?ref_src=twsrc%5Etfw"
                        aria-current="page" class="twitter-follow-button h5  text-light" data-show-count="false"><i
                            class="fab fa-twitter  "></i></a>
                    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                    <!-- <label style="font-weight: 800;" class=" h5  primary ">: مواقعنا  </label> -->

                </div>
            </div>

            <div style="text-align: center !important;" class="row  screen-mob">
                <div class="col-12  mb-2">
                    <span style="font-weight: 600;" class="h6">جميع الحقوق محفوظة لمنصة رحماء 2022</span>

                </div>
                <div class="col-12  ">
                    <a style="margin-right: 1rem;" class=" h6    text-light" aria-current="page"
                        href="https://www.facebook.com/%D8%B1%D8%AD%D9%85%D8%A7%D8%A1-ruhama--1611552422412668/"> <i
                            class="fab fa-facebook "></i></a>
                    <a style="margin-right: 1rem;" class=" h6    text-light" aria-current="page" href="#"> <i
                            class="fab fa-instagram "></i></a>
                    <a style="margin-right: 1rem;" class=" h6   text-light" aria-current="page"
                        href="https://api.whatsapp.com/send?phone=972567392862"> <i class="fab fa-whatsapp  "></i></a>
                    <a style="margin-right: 1rem;" href="https://twitter.com/ruhmaalkher?ref_src=twsrc%5Etfw"
                        aria-current="page" class="twitter-follow-button h6  text-light" data-show-count="false"><i
                            class="fab fa-twitter  "></i></a>
                    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>
            </div>
        </div>
    </section>

</footer>